In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
data = pd.read_excel('F:\SEMESTER 7\Praktikum Sistem Cerdas\latihan\Shooping.xlsx')

In [13]:
data.head()

       Day Discount Free Delivery Purchase
0  Weekday      Yes           Yes      Yes
1  Weekday      Yes           Yes      Yes
2  Weekend       No            No       No
3  Holiday      Yes           Yes      Yes
4  Weekday      Yes           Yes      Yes

In [14]:
data.shape

(30, 4)

In [15]:
data['Purchase'].value_counts()

Yes    24
No      6
Name: Purchase, dtype: int64

In [16]:
PYes = 24/30
PNo = 6/30

In [17]:
print(PYes)

0.8

In [18]:
print(PNo)

0.2

In [20]:
pd.crosstab(data['Day'], data['Purchase'])

Purchase  No  Yes
Day
Holiday    3    8
Weekday    2    9
Weekend    1    7

In [21]:
PHolidayNo = 3/6
PWeekdayNo = 2/6
PWeekendNo = 1/6

PHolidayYes = 8/24
PWeekdayYes = 9/24
PWeekendYes = 7/24

PHoliday = 11/30
PWeekday = 11/30
PWeekend = 8/30

print(PWeekdayYes)

0.375

In [22]:
# P(A|B) ?
# P(B) = PWeekday
# P(A) = No Buy
# P(B|A) = PWeekday|No Buy

In [25]:
PNoWeekday = (PWeekdayNo*PNo)/PWeekday
print(PNoWeekday)

0.18181818181818182

In [26]:
PYesWeekday = (PWeekdayYes*PYes)/PWeekday
print(PYesWeekday)

0.8181818181818183

In [27]:
# Probabilitas (Buy | Weekday) -> dibanding dengan probabilitas (No Buy| Weekday)
print(PNoWeekday)
print(PYesWeekday)

0.18181818181818182
0.8181818181818183

In [28]:
# Kondisi B dimana
# Day = Holoday
# Discount = Yes
# Free Delivery = Yes
# A = Buy
# P(A|B) = P(Buy|DiscountYes, Fre DeliveryYes, PDayHoliday)

In [29]:
pd.crosstab(data['Discount'], data['Purchase'])

Purchase  No  Yes
Discount
No         5    5
Yes        1   19

In [30]:
PNoDiscountNo = 5/6
PYesDiscountNo = 1/6

PNoDiscountYes = 5/24
PYesDiscountYes = 19/24

PNoDiscount = 10/30
PYesDiscount= 20/30

In [31]:
pd.crosstab(data['Free Delivery'], data['Purchase'])

Purchase       No  Yes
Free Delivery
No              4    3
Yes             2   21

In [32]:
PNoDeliveryNo = 4/6
PYesDeliveryNo = 2/6

PNoDeliveryYes = 3/24
PYesDeliveryYes = 21/24

PNoDelivery = 7/30
PYesDelivery= 23/30

In [34]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = Yes
# P(A) = No Buy = PNo
# P(B) = PYesDiscount, PYesDelivery, PHoliday
# P(B|A)1 = (PWeekday|No Buy) = PHolidayNo
# P(B|A)2 = (PYesDiscount|No Buy) = PYesDiscountNo
# P(B|A)1 = (PYesDelivery|No Buy) = PYesDeliveryNo
# P(B) = PWeekday
# P(B) = PYesDiscount
# P(B) = PYesDelivery

#ditanyakan P(A|B) ?
#Rumus -> P(A|B) = P(B|A)*P(A)/P(B)

In [35]:
PNoBuy1 = ((PHolidayNo*PYesDiscountNo*PYesDeliveryNo)*PNo)/(PHoliday*PYesDiscount*PYesDelivery)
print(PNoBuy1)

0.029644268774703563

In [36]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = Yes
# P(A) = Buy = PYes
# P(B) = PYesDiscount, PYesDelivery, PHoliday
# P(B|A)1 = (PWeekday|Buy) = PHolidayYes
# P(B|A)2 = (PYesDiscount|Buy) = PYesDiscountYes
# P(B|A)1 = (PYesDelivery|Buy) = PYesDeliveryYes
# P(B) = PWeekday
# P(B) = PYesDiscount
# P(B) = PYesDelivery

#ditanyakan P(A|B) ?
#Rumus -> P(A|B) = P(B|A)*P(A)/P(B)

In [39]:
PBuy2 = ((PHolidayYes*PYesDiscountYes*PYesDeliveryYes)*PYes)/(PHoliday*PYesDiscount*PYesDelivery)
print(PBuy2)

0.9856719367588933

In [40]:
# probabilitas dari NoPurchase = 0.029644268774703563
# probabilitas dari Purchase = 0.9856719367588933

In [42]:
PSum = PNoBuy1+PBuy2 
print(PSum)

1.015316205533597

In [43]:
PBuy = (PBuy2/PSum)*100
print(PBuy)

97.08029197080292

In [45]:
PNoBuy = (PNoBuy1*PSum)*100
print(PNoBuy)

3.009830648815011

In [46]:
#Coba Tugas

In [56]:
#Soal 2a

#P(A)  = PYes
#P(B)  = PWeekdayYes, PYesDeliveryYes, PYesDiscountYes
#P(B)1 = PWeekday
#P(B)2 = PYesDelivery
#P(B)3 = PYesDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PYesBuyA = ((PWeekdayYes*PYesDeliveryYes*PYesDiscountYes)*PYes)/(PWeekday*PYesDiscount*PYesDelivery)
print(PYesBuyA)

1.108880928853755

In [58]:
#Soal 2b

#P(A)  = PYes
#P(B)  = PWeekdayYes, PNoDeliveryYes, PNoDiscountYes
#P(B)1 = PWeekday
#P(B)2 = PNoDelivery
#P(B)3 = PNoDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PYesBuyB = ((PWeekdayYes*PNoDeliveryYes*PNoDiscountYes)*PYes)/(PWeekday*PNoDiscount*PNoDelivery)
print(PYesBuyB)

0.27394480519480524

In [59]:
#Soal 2c

#P(A)  = PNo
#P(B)  = PWeekdayNo, PYesDeliveryNo, PYesDiscountNo
#P(B)1 = PWeekday
#P(B)2 = PNoDelivery
#P(B)3 = PNoDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PNoBuyC = ((PWeekdayNo*PYesDeliveryNo*PYesDiscountNo)*PNo)/(PWeekday*PYesDiscount*PYesDelivery)
print(PNoBuyC)

0.019762845849802375

In [60]:
#Soal 2d

#P(A)  = PNo
#P(B)  = PWeekdayNo, PNoDeliveryNo, PNoDiscountNo
#P(B)1 = PWeekday
#P(B)2 = PNoDelivery
#P(B)3 = PNoDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PNoBuyD = ((PWeekdayNo*PNoDeliveryNo*PNoDiscountNo)*PNo)/(PWeekday*PNoDiscount*PNoDelivery)
print(PNoBuyD)

1.2987012987012987

In [62]:
#Soal 2e

#P(A)  = PYes
#P(B)  = PWeekendYes, PYesDeliveryYes, PYesDiscountYes
#P(B)1 = PWeekend
#P(B)2 = PYesDelivery
#P(B)3 = PYesDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PYesBuyE = ((PWeekendYes*PYesDeliveryYes*PYesDiscountYes)*PYes)/(PWeekend*PYesDiscount*PYesDelivery)
print(PYesBuyE)

1.185886548913044

In [63]:
#Soal 2f

#P(A)  = PYes
#P(B)  = PWeekendYes, PNoDeliveryYes, PNoDiscountYes
#P(B)1 = PWeekend
#P(B)2 = PNoDelivery
#P(B)3 = PNoDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PYesBuyF = ((PWeekendYes*PNoDeliveryYes*PNoDiscountYes)*PYes)/(PWeekend*PNoDiscount*PNoDelivery)
print(PYesBuyF)

0.29296875000000006

In [64]:
#Soal 2g

#P(A)  = PNo
#P(B)  = PWeekendNo, PYesDeliveryNo, PYesDiscountNo
#P(B)1 = PWeekend
#P(B)2 = PNoDelivery
#P(B)3 = PNoDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PNoBuyG = ((PWeekendNo*PYesDeliveryNo*PYesDiscountNo)*PNo)/(PWeekend*PYesDiscount*PYesDelivery)
print(PNoBuyG)

0.013586956521739134

In [67]:
#Soal 2h

#P(A)  = PNo
#P(B)  = PWeekendNo, PNoDeliveryNo, PNoDiscountNo
#P(B)1 = PWeekend
#P(B)2 = PNoDelivery
#P(B)3 = PNoDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PNoBuyH = ((PWeekendNo*PNoDeliveryNo*PNoDiscountNo)*PNo)/(PWeekend*PNoDiscount*PNoDelivery)
print(PNoBuyH)

0.8928571428571428

In [72]:
# (PYesBuyA) Probablity of  purchase = 1.108880928853755
#  (PNoBuyC) Probablity of No purchase = 0.019762845849802375


PSum1 = PYesBuyA + PNoBuyC
print (PSum1)


PBuyYesA = (PYesBuyA/PSum1)*100
print (P2A)

PBuyNoC= (PNoBuyC/PSum1)*100
print (P2C)

1.1286437747035576
98.24897400820792
1.7510259917920656

In [75]:
# (PYesBuyB) Probablity of  purchase = 0.27394480519480524
#  (PNoBuyD) Probablity of No purchase = 1.2987012987012987


PSum2 = PYesBuyB + PNoBuyD
print (PSum2)


PBuyYesB = (PYesBuyB/PSum2)*100
print (PBuyYesB)

PBuyNoD = (PNoBuyD/PSum2)*100
print (PBuyNoD)

1.572646103896104
17.41935483870968
82.58064516129032

In [76]:
# (PYesBuyE) Probablity of  purchase = 1.185886548913044
#  (PNoBuyG) Probablity of No purchase = 0.013586956521739134 


PSum3 = PYesBuyE + PNoBuyG
print (PSum3)


PBuyYesE = (PYesBuyE/PSum3)*100
print (PBuyYesE)

PBuyNoG = (PNoBuyG/PSum3)*100
print (PBuyNoG)

1.199473505434783
98.86725663716815
1.1327433628318584

In [81]:
# (PYesBuyF) Probablity of  purchase = 0.29296875000000006
#  (PNoBuyH) Probablity of No purchase = 0.8928571428571428


PSum4 = PYesBuyF + PNoBuyH
print (PSum4)


PBuyYesF = (PYesBuyF/PSum4)*100
print (PBuyYesF)

PBuyNoH = (PNoBuyH/PSum4)*100
print (PBuyNoH)

1.1858258928571428
24.705882352941185
75.29411764705883